<h1>Ruby Racer</h1>
<p>Welcome...enter initials</p>

<form action="/games" method="post" class="navbar-form navbar-left">
  <div class="form-group">
    Player 1: <input type="text" name="player1" size="30"></input><br>
    Player 2: <input type="text" name="player2" size="30"></input><br><br>
  <input type="submit" value="Start Game"></input>
  </div>
</form>